
button.navbar-toggler.navbar-light {
    color: rgb(0 0 0 / 84%);
    border-color: rgb(0 0 0 / 85%);
}
button.navbar-toggler:focus {
    box-shadow: 0 0 0 0.05rem;
}
/* card */

.card-body .card.border-light {
    padding: 1rem 0.3rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    white-space: normal;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 6%);
    height: 350px;
    transition: all .3s cubic-bezier(0,0,.5,1)
}
.item-card.card-body {
    width: 100%;
    max-width: 250px;
    padding: 1rem 0.3rem;
}
.item-card .product-img {
    height: 240px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.item-card.card-body img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
  }
.item-card.card-body div{
    text-align: center;
}
.item-card .proguct-name {
    color: #6e6e73;
    font-size: 1.05rem;
    height: 47px;
}
.item-card .proguct-price {
    font-size: 1.2rem;
    font-weight: 600;
}
.card-body .card.border-light:hover {
    box-shadow: 2px 4px 9px rgb(0 0 0 / 8%);
    transform: scale3d(1.01,1.01,1.01);
}
.container-type{
    text-align: center;
}

.mt-5.pagination {
    margin-top: 1rem!important;
}
.pagination .page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #eae9e7;
    border-color: #e8e8ed;
}
.pagination .page-item {
    margin-right: 5px;
}
.pagination .page-link {
    color: #000000;
}
.pagination .page-link:focus {
    box-shadow: none;
}
.card-container-product{
    display: flex;
}
.cart-1 {
    display: flex;
}
.card-container-top{
    max-width: 480px;
    margin-right: 3rem;
}
.card-container-bottom {
    align-self: baseline;
}
.card-container-product img {
    display: block;
    margin: 1rem auto;
    height: 100%;
    height: 300px;
    width: 100%;   
    object-fit: contain;
}
.card-product-name, .card-product-price {
    text-align: center;
}
.card-product-name {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
}
.card-product-price {
    font-size: 18px;
    line-height: 1.47059;
    font-weight: 400;
    color: #1d1d1f;
}
.card-product-cart button {
    display: block;
    margin: 0 auto;
    width: 19rem;
    height: 2.3rem;
    border: 1px solid #0071e3;
    background: #0071e3;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 400;
}
.card-product-cart button:hover {
    background-color: #1f81e5;
}

.cart-product-discr {
    font-size: 26px;
    line-height: 1.125;
    font-weight: 600;
    padding-left: 0;
}
.button-update, .button-remove{
    box-shadow: none;
    width: 13.5rem;
    height: 2.3rem;
    margin: 2.5rem 1.5rem 10rem 0;
}
.nav-cart svg {
    margin-right: 0.5rem;
}
.cart-order .mt-3.col-md-3 {
    width: 100%;
    max-width: 250px;
    padding: 1rem 0.3rem;
}
.cart-order .mt-3.col-md-3 .card{
    cursor: pointer;
    padding: 1rem 0.3rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    white-space: normal;
    height: 250px;
}
.card-order-item-img {
    height: 150px;
}
.cart-order .mt-3.col-md-3 .card img{
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
.cart-order .card-order-item-name{
    color: #6e6e73;
    font-size: 1rem;
    height: 47px;
    text-align: center;
}
.card-order-item-price {
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
}

.card-order-item-count{
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
    align-items: baseline
}
.card-order-item-count input{
    width: 75px;
    margin: 0 0.7rem;
}
.card-order--count{
    display: block;
    margin-bottom: 5rem;
    width: 14rem;
    height: 2.3rem;
    border: 1px solid #0071e3;
    background: #0071e3;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 400;
}
.card-order--count:hover {
    background-color: #0077ed;
    border: 1px solid #0077ed;
}
.card-order--count:focus {
    box-shadow: none;
}
.cart-order.cart-order-done .mt-3.col-md-3 img {
    height: 130px;

}
span.proguct-price {
    font-size: 20px;
    font-weight: 600;
}
.form-search-item {
    width: 50%;
    outline: 0px;
    box-shadow: none;
    border-color: rgb(49, 49, 50);
    margin: 0 10% 0 40%;
    background: transparent;
}
.form-search-item:focus {
    background-color: #fff;
    border-color: rgb(49, 49, 50);
    outline: 0;
    box-shadow:none;
}
.brand-container-item.border-light {
    cursor: pointer;
    max-width: 10rem;
    background-color: #faf9f7;
    border-radius: 0;
    border-bottom: 1px solid #eae9e7!important;
}
.brand-container-item.border-light:first-child {
    border-top: 1px solid #eae9e7!important;
}
.brand-container-item.border-light:hover {
    background-color: #ffffff;
}
.brand-container-item.border-danger {
    background-color: #0077ed;
    border-color: #f8f9fa!important;
    border-bottom: 1px solid #0077ed!important;
    border-radius: 0;
    color: #faf9f7;
}
.brand-name-bar {
    font-size: 16px;
    padding: 1rem 0 1rem 1rem;
    color: #0077ed;
    padding: 1rem 0 1rem 1rem;
}
.container-type-group {
    margin: 1rem 0 0 -0.5rem;
    max-width: 90%;
}
.container-type-group button{
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}
.container-type-group .list-group-item-light.list-group-item-action:focus, 
.container-type-group .list-group-item-light.list-group-item-action:hover {
    color: #636464;
    background-color: #eae9e7;
}
.decorative-line {
    display: block;
    width: 64%;
    height: 3px;
    border: 1px solid rgb(49, 49, 50);
    border-radius: 9px;
    margin: 3rem auto;
}
.main-container {
    min-height: calc(100vh - 6.45rem);
}

#footer {
    height: 3rem;
    background-color: #eae9e7;
    text-align-last: center;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
}
#buttons-container .paypal-button-container {
    min-width: 250px!important;
    max-width: 300px!important;
    margin: 2rem auto!important;
}
.card-recom-container {
    width: 100%;
    max-width: 250px;
    padding: 1rem 0.3rem;
    float: left;    

}
.card-recom-container .card {
    padding: 1rem 0.3rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    white-space: normal;
    height: 250px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 6%);
    transition: all .3s cubic-bezier(0,0,.5,1);

}
.card-recom-container .card:hover {
    box-shadow: 1px 3px 4px rgb(0 0 0 / 8%);
    transform: scale3d(1.01,1.01,1.01);
}
.card-order-item-img {
    height: 150px;
}
.card-recom-container .card img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.card-recom-container .card-order-item-name{
text-align: center;
}
@media (max-width: 1024px) {
    .btn-nav {
        margin-top: .5rem;
    }
}
@media (max-width: 992px) {
    .item-row{
        justify-content: center;
    }
    .form-control.form-search-item{
        margin-top: 1rem;
        width: 100%;
        margin: 1rem 0 0 0;
    }
    .container-type-group .list-group.list-group-horizontal {
        flex-wrap: wrap;
    }
    .container-type-group button {
        width: 25%;
    }
    .container-type-group {
        max-width: 100%;
    }
    .paypal-button-container {
        min-width: 250px;
        max-width: 300px;
        margin: 2rem auto;
    }
    .cart-order.cart-order-done {
        justify-content: center;
    }
}
@media (max-width: 768px) {
.button-update, .button-remove {
    box-shadow: none;
    width: 13.5rem;
    height: 2.3rem;
    margin: 0.5rem 1.5rem 0rem 0;
}
.navbar-collapse.collapse {
    margin-top: 1rem;
}
.card-container-product {
    display: block;
}
.card-container-top{
    margin-right: 0rem;
}
.container-type-group button {
    width: 50%;
}
.brand-container-item.border-light {
    max-width: 100%;
    width: 50%!important;
}
.paypal-button-container {
    min-width: 250px;
    max-width: 300px;
    margin: 2rem auto;
}
.card-recom-container {
    float: none;
    margin: 0 auto;
}
}
@media (max-width: 480px) {
    .nav-cart{
        width: 100%;
    }
    .container-type-group button {
        width: 100%;
    }
    .brand-container-item.border-light {
        width: 100%!important;
    }
    .paypal-button-container {
        min-width: 250px;
        max-width: 300px;
        margin: 2rem auto;
    }
}